@import url(https://fonts.googleapis.com/css?family=Open%20Sans);

$mobile-only: "only screen and (max-width : 768px)";

body {
  margin-bottom: 0;

  @media #{$mobile-only} {
    margin: 0;
  }
}

h1.title{
  text-align: center;
  font-size: 6rem;
  font-family: 'Open Sans' !important;
  font-weight: bold;

}

.oneImg {
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid #888888;
  border-radius: 10%;
  background: #f9f9f9;

}
.main-content{
  min-height: 80vh;
  overflow: hidden;
}
#wrapper {
  background-color: #f0f0e9;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  height: 100%;


   @media #{$mobile-only} {
    width: 100%;
    background-color: #fff;
  }
}

